crewai
google-generativeai
langchain
langchain-community
langchain-google-genai
langchain-openai
langchain-anthropic
python-dotenv
openai
ollama
huggingface_hub
discord.py
scipy
quickfs
matplotlib
yfinance