crewai
crewai-tools
google-generativeai
langchain
langchain-community
langchain-google-genai
langchain-openai
langchain-anthropic
langchain-tavily
python-dotenv
openai
ollama
huggingface_hub
litellm==1.77.5
discord.py
scipy
quickfs
matplotlib
yfinance
agno 
anthropic 
mcp 
'fastapi[standard]' 
sqlalchemy
exa-py
tiktoken
asyncpraw